/out
/bin
/obj
/packages

Consumer/out
Consumer/bin
Consumer/obj
Consumer/packages

ModelLibrary/out
ModelLibrary/bin
ModelLibrary/obj
ModelLibrary/packages

ProducerApp/out
ProducerApp/bin
ProducerApp/obj
ProducerApp/packages